.discover-wrap .discover-wrap-menu {
  display: flex;
  height: 30px;
  align-items: center;
  background-color: #C20C0C;
}
.discover-wrap .discover-wrap-menu .discover-wrap-menu-item {
  margin-bottom: 5px;
  margin-right: 25px;
}
.discover-wrap .discover-wrap-menu .discover-wrap-menu-item:first-child {
  margin-left: 31.5%;
}
.discover-wrap .discover-wrap-menu .discover-wrap-menu-item a {
  padding: 4px 18px;
  text-decoration: none;
  color: #fff;
}
.discover-wrap .discover-wrap-menu .discover-wrap-menu-item :hover {
  background-color: #9b0c0c;
  border-radius: 10px;
}
.discover-wrap .discover-wrap-menu .discover-wrap-menu-item .active {
  background-color: #9b0c0c;
  border-radius: 10px;
}
